<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	 <!--enabling annotation -->
	<annotation-driven/>
	
	<!--mapping the resources document -->

	<resources mapping="/resources/**" location="/resources/" />
	<!--view resolver -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/jsp/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	<!-- Multi part resolver -->

	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- setting maximum upload size -->
		<beans:property name="maxUploadSize" value="200000000" />
	</beans:bean>

	<!--data base configurations -->
	<beans:bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<beans:property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/fms" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="onlylord" />
	</beans:bean>

	<context:component-scan base-package="com.project"/>

	<!--hibernate five session factory definition -->
	<beans:bean id="hibernate5AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
	
			<beans:value>com.project.model.User</beans:value>
				    <beans:value>com.project.model.Crop</beans:value>
				      <beans:value>com.project.model.Chemical</beans:value>
				        <beans:value>com.project.model.Harvest</beans:value>
				          <beans:value>com.project.model.Irrigation</beans:value>
				            <beans:value>com.project.model.Machinery</beans:value>
				              <beans:value>com.project.model.Sales</beans:value>
				              <beans:value>com.project.model.LiveStockFlockRecords</beans:value>
				               <beans:value>com.project.model.LiveStockCalfRecords</beans:value>
				               
				         <beans:value>com.project.model.LiveStockAnimalSaleRecords</beans:value> 
				             
                     <beans:value>com.project.model.LiveStockAnimalRecord</beans:value> 
                     
                     <beans:value>com.project.model.LiveStockFeedingRecords</beans:value> 
                     
                     <beans:value>com.project.model.LivestockHealthRecords</beans:value> 
                     
                     <beans:value>com.project.model.LiveStockPermitRecords</beans:value> 
                     
                     <beans:value>com.project.model.LiveStockMortalityRecords</beans:value> 
                     
                     
                     <beans:value>com.project.model.LiveStockMlkProductionRecords</beans:value> 
                     
                     
                     <beans:value>com.project.model.LiveStockMilkSaleRecords</beans:value> 
                     
                  
         
                     
                  
               
			</beans:list>
		</beans:property>

		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>

	
		<beans:bean id="cropDao"
		class="com.project.dao.CropDaoImpl">
		<beans:property name="sessionFactory"
			ref="hibernate5AnnotatedSessionFactory" />
	</beans:bean>


	<beans:bean id="cropService"
		class="com.project.service.CropServiceImpl">
		<beans:property name="cropDao" ref="cropDao"></beans:property>
	</beans:bean>
	
	
	<beans:bean id="userDao"
		class="com.project.dao.UserDaoImpl">
		<beans:property name="sessionFactory"
			ref="hibernate5AnnotatedSessionFactory" />
	</beans:bean>


	<beans:bean id="userService"
		class="com.project.service.UserServiceImpl">
		<beans:property name="userDao" ref="userDao"></beans:property>
	</beans:bean>
	
	
	<beans:bean id="liveStockDao"
		class="com.project.dao.LiveStockDaoImpl">
		<beans:property name="sessionFactory"
			ref="hibernate5AnnotatedSessionFactory" />
	</beans:bean>


	<beans:bean id="liveStockService"
		class="com.project.service.LiveStockServiceImpl">
		<beans:property name="liveStockDao" ref="liveStockDao"></beans:property>
	</beans:bean>
	
	
	
	
	
	
	
	
	<tx:annotation-driven transaction-manager="transactionManager" />

	<beans:bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<beans:property name="sessionFactory"
			ref="hibernate5AnnotatedSessionFactory" />
	</beans:bean>



</beans:beans>
			
	
	
	

